.feedback {
  background-color: #FBF6EA;
  padding: 80px 110px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.feedback__title {
  min-width: 362px;
}

.line {
  background-color: #6D6E76;
  width: 1px;
  height: 310px;
  margin: 0px 96px 0px 80px;
}

.feedback__text {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 60px;
  margin-bottom: 121px;
}

.feedback__control {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
}

.account {
  width: 48px;
  height: 48px;
}

.avatar_data {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider button {
  border: none;
  background: none;
}

@media screen and (max-width: 1376px) {
  .feedback {
    padding: 60px 50px;
  }
  .line {
    margin: 0px 40px;
  }
  .account {
    width: 24px;
    height: 24px;
  }
  .name {
    font-size: 1rem;
    line-height: 1rem;
  }
  .list__card-occupation {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .slider button img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 1045px) {
  .feedback {
    padding: 60px 50px;
    flex-direction: column;
  }
  .feedback__title {
    min-width: 100%;
  }
  .started__header {
    font-size: 1.5rem;
  }
  .line {
    margin: 0px;
    width: auto;
    height: 1px;
  }
  .feedback__text {
    font-size: 1rem;
    line-height: 1rem;
    padding-right: 30px;
  }
  .feedback__text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 560px) {
  .feedback__control {
    flex-direction: column;
  }
}