.feedback {
  background-color: #FBF6EA;
  padding: 80px 110px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.feedback__title {
  min-width: 362px;
}

.line {
  background-color: #6D6E76;
  width: 1px;
  height: 310px;
  margin: 0px 96px 0px 80px;
}

.feedback__text {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 60px;
  margin-bottom: 121px;
}

.feedback__control {
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
}

.account {
  width: 48px;
  height: 48px;
}

.avatar_data {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider button {
  border: none;
  background: none;
}