.sponsors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 96px;
}

.sponsors img {
  margin: 5px 20px
}

@media screen and (max-width: 536px) {
  .sponsors {
    display: flex;
    justify-content: center;
  }
  .sponsors img {
    margin: 10px 0px;
  }
}